<table>
<caption>Summary for {{properties.Address}}</caption>
<tbody>
	<tr>
		<th>Active Count:</th><td>{{properties.ActiveCount}}</td>
	</tr>
	<tr>
		<th>Address:</th>
		<td>
			<address>
			{{properties.Address}}<br/>
			{{lookup boroughLookup properties.Borough}}, NY {{properties.ZipCode}}	
			</address>
		</td>
	</tr>
	<tr>
		<th>Floors:</th><td>{{properties.NumFloors}}</td>
	</tr>
	<tr>
		<th>Total Floor Area:</th><td>{{properties.BldgArea}}</td>
	</tr>
	<tr>
		<th>Total Units:</th><td>{{properties.UnitsTotal}}</td>
	</tr>
	<tr>
		<th>Building Class:</th><td>{{bldgDesc}}</td>
	</tr>
	<tr>
		<th>Year Built:</th><td>{{properties.YearBuilt}}</td>
	</tr>
</tbody>
</table>
