<table>
<caption>Summary for {{Address}}</caption>
<tbody>
	<tr>
		<th>Active Count:</th><td>{{ActiveCount}}</td>
	</tr>
	<tr>
		<th>Address:</th>
		<td>
			<address>
			{{Address}}<br/>
			{{Borough}}, NY {{ZipCode}}	
			</address>
		</td>
	</tr>
	<tr>
		<th>Floors:</th><td>{{NumFloors}}</td>
	</tr>
	<tr>
		<th>Total Floor Area:</th><td>{{BldgArea}}</td>
	</tr>
	<tr>
		<th>Total Units:</th><td>{{UnitsTotal}}</td>
	</tr>
	<tr>
		<th>Building Class:</th><td>{{BldgClass}}</td>
	</tr>
	<tr>
		<th>Year Built:</th><td>{{YearBuilt}}</td>
	</tr>
</tbody>
</table>
